set interfaces ae{{sco}} unit {{vlan}} description "{{description}}"
set interfaces ae{{sco}} unit {{vlan}} vlan-id {{vlan}}
set interfaces ae{{sco}} unit {{vlan}} family inet address {{ip}}
set routing-instances INTERNET interface ae{{sco}}.{{vlan}}
{% if routes is defined -%}
{% for route in routes -%}
set routing-instances INTERNET routing-options static route {{route['prefix']}} next-hop {{route['next_hop']}} tag 1
{% endfor-%}
{% endif %}

