set routing-instances {{vpn}} route-distinguisher {{loopback}}:{{vpn_id}}
set routing-instances {{vpn}} vrf-target target:64600:{{vpn_id}}
set routing-instances {{vpn}} vrf-import imp-{{vpn}}
set routing-instances {{vpn}} vrf-export exp-{{vpn}}

set policy-options policy-statement imp-{{vpn}} term import-redes-privadas from protocol bgp
set policy-options policy-statement imp-{{vpn}} term import-redes-privadas from community {{vpn_id}}
set policy-options policy-statement imp-{{vpn}} term import-redes-privadas then accept
set policy-options policy-statement imp-{{vpn}} term import-gestion from protocol bgp
set policy-options policy-statement imp-{{vpn}} term import-gestion from community GESTION-CPE-ESTATICAS
set policy-options policy-statement imp-{{vpn}} term import-gestion then accept
set policy-options policy-statement imp-{{vpn}} term default-reject then reject
set policy-options policy-statement exp-{{vpn}} term export-loopbacks-cpe from protocol bgp
set policy-options policy-statement exp-{{vpn}} term export-loopbacks-cpe from route-filter 10.106.248.0/21 upto /32
set policy-options policy-statement exp-{{vpn}} term export-loopbacks-cpe from route-filter 10.107.248.0/21 upto /32
set policy-options policy-statement exp-{{vpn}} term export-loopbacks-cpe from route-filter 10.109.240.0/20 upto /32
set policy-options policy-statement exp-{{vpn}} term export-loopbacks-cpe then community add GESTION-CPE-VPN
set policy-options policy-statement exp-{{vpn}} term export-loopbacks-cpe then accept
set policy-options policy-statement exp-{{vpn}} term export-redes-privadas from protocol bgp
set policy-options policy-statement exp-{{vpn}} term export-redes-privadas then community add {{vpn_id}}
set policy-options policy-statement exp-{{vpn}} term export-redes-privadas then accept
set policy-options policy-statement exp-{{vpn}} term default-reject then reject
set policy-options community {{vpn}} members target:64600:{{vpn_id}}